li.page-item.active a.page-link {
    background-color: #1f1f1f;
    border-color: #353535;
    color: #fff;
    font-size: 0.85rem;
}
li.page-item a.page-link {
    color: #1f1f1f;
    font-size: 0.85rem;
}
aside{
    min-height: 100vh;
}
.wrapper {
    display: flex;
}
.btn-primary{
    background-color: #1f1f1f;
    border-color: #353535;
}
.btn-primary:hover{
    background-color: #353535;
    border-color: #1f1f1f;
}
.btn-primary:active{
    background-color: #353535;
    border-color: #1f1f1f;
}
.main{
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}
#sidebar{
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all 0.25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #1f1f1f;
}
#sidebar.expand{
    width: 260px;
    min-width: 260px;
}
#toggle-btn{
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}
#toggle-btn i{
    font-size: 1.5rem;
    color: #fff;
}
.sidebar-logo{
    margin: auto 0;
}
.sidebar-logo a{
    color: #fff;
    font-size: 1.15rem;
    font-weight: 600;
}
#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span{
    display: none;
}
.sidebar-nav{
    padding: 2rem 0;
    flex: 1 1 auto;
}
a.sidebar-link{
    padding: 0.625rem 1.625rem;
    color: #fff;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}
.sidebar-link i{
    font-size: 1.1rem;
    margin-right: .75rem;   
}
a.sidebar-link:hover{
    background-color: rgba(255, 255, 255, 0.075);
    border-left: 3px solid #353535;
}
.sidebar-item{
    position:relative;
}
#sidebar:not(.expand) .sidebar-item .sidebar-dropdown{
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #1f1f1f;
    padding: 0;
    min-width: 15em;
    display: none;
}
#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown{
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}
#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after{
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: '';
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}
#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after{
    transform: rotate(45deg);
    transition: all .2s ease-out;
}
#sidebar-footer{
    padding: 1rem 1.5rem;
    background-color: #151515;
    position: relative;
    bottom: 100;
}