@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
h1 {
    font-weight: 600;
    font-size: 1.5rem;
}
body {
    font-family: 'Poppins', sans-serif;
}
a {
    color: #703c00;
    text-decoration: none;
}
a:hover {
    color: #924f01;
    text-decoration: underline;
}
.container {
    
    margin-top: 40px;
    margin: 0 auto;
    padding: 20px;
}
#submitbtn{
    background-color: #1f1f1f;
    border-color: #353535;
}
#submitbtn:hover{
    background-color: #353535;
    border-color: #1f1f1f;

}